
    <div class="row black-muted-bg">                 
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Name</b></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><b>Date<i class="glyphicon glyphicon-question-sign"></i></b></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><b>Repeats Every Year<i class="glyphicon glyphicon-question-sign"></i></b></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><b>Type</b></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><b>Location<i class="glyphicon glyphicon-question-sign"></i></b></div>
</div>
    
    <br>
    
    <div class="row">                                  
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control" name="name" ng-model="holiday.name"  placeholder="">
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="input-group">
                <input type="date" class="form-control" name="date" ng-model="holiday.date" placeholder="ex: 22/02/2016">
            </div>
           <!-- <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="holiday.date" is-open="opened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>-->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" align="center">
            <div class="checkbox">
                <label><input type="checkbox" value="repeat=true" ng-model="holiday.repeat" ></label>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    
            <div class="form-group">
                <select class="form-control" id="type" ng-model="holiday.type">
                    <option>Optional</option>
                    <option>National</option>
                    <option>Official</option>
                    <option>Commercial</option>
                </select>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="input-group">
                <input type="text" class="form-control" name="location" ng-model="holiday.location" placeholder="Select One....">
            </div>
        </div>
</div>
    
    <hr>
    
    <div class="row">                  
    
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <a href="#">+Add Holiday</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-xs-3 btn-success" ng-click="saveList(holiday)">Save Holiday List</button>
        </div>
        
    </div>
    
