<div class="widgets">
    <div ba-panel ba-panel-title="" ba-panel-class="with-scroll">
        
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="input05">Compensatory Off</label>
            <input type="text" class="form-control" placeholder="Disabled" ng-model="name">
          </div>
          <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="right">
                    <div class="button-wrapper"><button type="button" class="btn btn-success" ng-click="save(name)">Save</button></div>
              </div>   
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        </div>
    </div>
</div>